<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Bem-vindo ao Sistema Exemplo</h1>
    <h2>Sistema Exemplo de Relacionamento entre Entidades</h2>
    <h3>Entidades: Funcionário - Projeto - Departamento</h3>
    <ul>
        <li><a href="/departamento">Listar departamentos</a></li>
        <li><a href="/departamento/novo">Cadastrar Departamentos</a></li>
        <li><a href="/funcionario">Listar funcionários</a></li>
        <li><a href="/funcionario/novo">Cadastrar Funcionários</a></li>
        <li><a href="/projeto">Listar projetos</a></li>
        <li><a href="/projeto/novo">Cadastrar Projetos</a></li>
    </ul>
</body>
</html>
