<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Departamentos</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Lista de Departamentos</h1>
    <a href="/departamentos/novo">Novo Departamento</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Localidade</th>
                <th>Sigla</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="departamento : ${departamentos}">
                <td th:text="${departamento.id}"></td>
                <td th:text="${departamento.nome}"></td>
                <td th:text="${departamento.localidade}"></td>
                <td th:text="${departamento.sigla}"></td>
                <td>
                    <a th:href="@{/departamentos/{id}/editar(id=${departamento.id})}">Editar</a>
                    <a th:href="@{/departamentos/{id}/delete(id=${departamento.id})}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/">Home</a>
</body>
</html>