<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Funcionários</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Funcionários</h1>
    <a href="/funcionarios/novo">Novo Funcionário</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Cargo</th>
                <th>Salário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="funcionario : ${funcionarios}">
                <td th:text="${funcionario.id}"></td>
                <td th:text="${funcionario.nome}"></td>
                <td th:text="${funcionario.cargo}"></td>
                <td th:text="${funcionario.salario}"></td>
                <td>
                    <a th:href="@{/funcionarios/{id}/editar(id=${funcionario.id})}">Editar</a>
                    <a th:href="@{/funcionarios/{id}/deletar(id=${funcionario.id})}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/">Home</a>
</body>